

@media only screen and (max-width: 600px) {
    #grid {
        display: grid;
        grid-template-columns: repeat(4, 75px);
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    #grid {
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .cell {
        width: 75px;
        height: 75px;
        border: 1px solid black;
    }
}

@media only screen and (max-width: 1000px) {
    .cell {
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }
}

.active {
    background-color: #00FF00;
}